.wrapper {
    display: flex;
    height: 66px;
    padding: 0 28px;
    background-color: var(--white);
    border-bottom: 1px solid #e8ebed;
}

.inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    img {
        width: 38px;
        height: 38px;
        border-radius: 8px;
        object-fit: contain;
    }
}

.title-logo {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
}

.logo,
.action {
    flex: 1 1;
}

.action {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.my-course {
    background-color: transparent;
    color: #333;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 16px;
    padding: 8px 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.icon-notify {
    padding: 8px;
    color: #707070;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
        color: #000;
    }
}

.avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
    background-color: #ccc;
}

// container my courses
.container-my-course {
    min-width: 230px;
    min-height: 50px;
    max-height: calc(90vh - 60px);
    font-size: 1.4rem;
    width: 412px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
}

.header-my-source {
    padding: 14px 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    a[href] {
        color: var(--primary);
    }
}

.see-all-my-course {
    color: var(--primary);
    padding: 8px;
}

.my-course-content {
    max-height: 68vh;
    overflow-y: auto;
    overscroll-behavior: contain;
}

//box username

.username-wrapper {
    min-width: 230px;
    padding: 8px 24px;
}

.user-func a {
    color: #666;
    display: block;
    font-size: 1.4rem;
    padding: 10px 0;
}

// min-width: 230px;
// min-height: 50px;
// max-height: calc(90vh - 60px);
// font-size: 1.4rem;
// padding: 12px 24px;
// width: 420px;
// background: #fff;
// border-radius: 10px;
// box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
// overflow-y: auto;
// overscroll-behavior: contain;
