.wrapper {
    display: flex;
    height: 66px;
    padding: 0 28px;
    background-color: var(--white);
    border-bottom: 1px solid #e8ebed;
}

.inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    img {
        width: 38px;
        height: 38px;
        border-radius: 8px;
        object-fit: contain;
    }
}

.title-logo {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
}

.wrapper-search,
.logo,
.action {
    flex: 1 1;
}

.wrapper-search {
    display: flex;
    justify-content: center;
}

.search {
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    height: 40px;
    padding: 0 16px 0 8px;
    width: 420px;
    display: flex;
    justify-content: center;

    input {
        height: 100%;
        outline: none;
        border: none;
        flex: 1;
    }

    input:not(:placeholder-shown) .search .icon-search {
        color: red;
    }

    &:focus-within {
        border-color: #333;
    }
}

.icon-search {
    width: 32px;
    height: 100%;
    font-size: 1.8rem;
    color: #858585;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

.search-input {
    padding: 0 4px;
}

.close-search {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px 0 4px 4px;
    cursor: pointer;
}

.action {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: var(--primary);
    border-radius: 999px;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 9px 20px;
    border: none;
    outline: none;
}

// Box search result
.search-result {
    padding: 12px 24px;
    min-height: 50px;
    max-height: calc(90vh - 60px);
    min-width: 230px;
    font-size: 1.4rem;
    width: 420px;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.search-header {
    padding-top: 6px;
    span {
        opacity: 0.7;
    }
}

.icon-search-header {
    margin-right: 8px;
    opacity: 0.5;
}

.type-result-search {
    padding: 24px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 6px;
    h4 {
        opacity: 0.5;
    }
}

.see-more:hover {
    color: var(--primary);
}

.my-course {
    background-color: transparent;
    color: #333;
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 16px;
    padding: 8px 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.icon-notify {
    padding: 8px;
    color: #707070;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
        color: #000;
    }
}

.avatar {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
    background-color: #ccc;
}

// container my courses
.container-my-course {
    min-width: 230px;
    min-height: 50px;
    max-height: calc(90vh - 60px);
    font-size: 1.4rem;
    width: 412px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
}

.header-my-source {
    padding: 14px 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    a[href] {
        color: var(--primary);
    }
}

.see-all-my-course {
    color: var(--primary);
    padding: 8px;
}

.my-course-content {
    max-height: 68vh;
    overflow-y: auto;
    overscroll-behavior: contain;
}

// min-width: 230px;
// min-height: 50px;
// max-height: calc(90vh - 60px);
// font-size: 1.4rem;
// padding: 12px 24px;
// width: 420px;
// background: #fff;
// border-radius: 10px;
// box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
// overflow-y: auto;
// overscroll-behavior: contain;
